*
{
    margin: 0px;
    padding: 0px;
    font-family: Tahoma, Arial, Sans-Serif;
}

.dnone
{
    display: none;
}

.cb
{
    clear: both;
}
.fl
{
    float: left;
}
.fr
{
    float: right;
}
.central
{
    margin: 0px auto;
}
.pt3
{
    padding-top: 3px;
}
.pt4
{
    padding-top: 4px;
}
.pt6
{
    padding-top: 6px;
}
.pt8
{
    padding-top: 8px;
}
.pt10
{
    padding-top: 10px;
}
.pt20
{
    padding-top: 20px;
}
.pt12
{
    padding-top: 12px;
}
.pt14
{
    padding-top: 14px;
}
.pt15
{
    padding-top: 15px;
}
.pt18
{
    padding-top: 18px;
}
.pt30
{
    padding-top: 30px;
}
.pt40
{
    padding-top: 40px;
}
.pt45
{
    padding-top: 45px;
}
.pt50
{
    padding-top: 50px;
}
.pt60
{
    padding-top: 60px;
}
.pt80
{
    padding-top: 80px;
}
.pt90
{
    padding-top: 90px;
}
.pt100
{
    padding-top: 100px;
}
.pt130
{
    padding-top: 130px;
}
.pt150
{
    padding-top: 150px;
}
.pt200
{
    padding-top: 200px;
}
.pt220
{
    padding-top: 220px;
}
.pt241
{
    padding-top: 241px;
}
.pt330
{
    padding-top: 330px;
}
.pt350
{
    padding-top: 350px;
}

.pr10
{
    padding-right: 10px;
}
.pr15
{
    padding-right: 15px;
}
.pr20
{
    padding-right: 20px;
}
.pr25
{
    padding-right: 25px;
}
.pr30
{
    padding-right: 30px;
}
.pr40
{
    padding-right: 40px;
}
.pr60
{
    padding-right: 60px;
}
.pr80
{
    padding-right: 80px;
}

.pb10
{
    padding-bottom: 10px;
}
.pb20
{
    padding-bottom: 20px;
}
.pb30
{
    padding-bottom: 30px;
}
.pb38
{
    padding-bottom: 38px;
}
.pb40
{
    padding-bottom: 40px;
}
.pb58
{
    padding-bottom: 58px;
}
.pb80
{
    padding-bottom: 80px;
}

.pl3
{
    padding-left: 3px;
}
.pl5
{
    padding-left: 5px;
}
.pl40
{
    padding-left: 40px;
}
.pl50
{
    padding-left: 50px;
}
.pl60
{
    padding-left: 60px;
}
.pl70
{
    padding-left: 70px;
}
.pl80
{
    padding-left: 80px;
}

.p3
{
    padding: 3px;
}
.p4
{
    padding: 4px;
}
.p5
{
    padding: 5px;
}
.p6
{
    padding: 6px;
}
.p8
{
    padding: 8px;
}
.p10
{
    padding: 10px;
}
.p12_0
{
    padding: 12px 0px;
}
.p15
{
    padding: 15px;
}
.p20
{
    padding: 20px;
}
.p25
{
    padding: 25px;
}
.p30
{
    padding: 30px;
}
.p40
{
    padding: 40px;
}
.p80
{
    padding: 80px;
}

.mr5
{
    margin-right: 5px;
}
.mr10
{
    margin-right: 10px;
}
.mr15
{
    margin-right: 15px;
}
.mr16
{
    margin-right: 16px;
}
.mr20
{
    margin-right: 20px;
}
.mr25
{
    margin-right: 25px;
}
.ml-25
{
    margin-right: -25px;
}
.mr30
{
    margin-right: 30px;
}
.mr40
{
    margin-right: 40px;
}
.mr50
{
    margin-right: 50px;
}
.mr60
{
    margin-right: 60px;
}
.mr80
{
    margin-right: 80px;
}
.mr100
{
    margin-right: 100px;
}

.mb-20
{
    margin-bottom: -20px;
}
.mb5
{
    margin-bottom: 5px;
}
.mb6
{
    margin-bottom: 6px;
}
.mb8
{
    margin-bottom: 8px;
}
.mb10
{
    margin-bottom: 10px;
}
.mb11
{
    margin-bottom: 11px;
}
.mb12
{
    margin-bottom: 12px;
}
.mb15
{
    margin-bottom: 15px;
}
.mb18
{
    margin-bottom: 18px;
}
.mb20
{
    margin-bottom: 20px;
}
.mb28
{
    margin-bottom: 28px;
}
.mb30
{
    margin-bottom: 30px;
}
.mb35
{
    margin-bottom: 35px;
}
.mb38
{
    margin-bottom: 38px;
}
.mb40
{
    margin-bottom: 40px;
}
.mb50
{
    margin-bottom: 50px;
}
.mb60
{
    margin-bottom: 60px;
}
.mb80
{
    margin-bottom: 80px;
}
.mb290
{
    margin-bottom: 290px;
}

.ml-155
{
    margin-left: -155px;
}
.ml-105
{
    margin-left: -105px;
}
.ml2
{
    margin-left: 2px;
}
.ml3
{
    margin-left: 3px;
}
.ml4
{
    margin-left: 4px;
}
.ml5
{
    margin-left: 5px;
}
.ml10
{
    margin-left: 10px;
}
.ml11
{
    margin-left: 11px;
}
.ml12
{
    margin-left: 12px;
}
.ml14
{
    margin-left: 14px;
}
.ml20
{
    margin-left: 20px !important;
}
.ml25
{
    margin-left: 25px;
}
.ml29
{
    margin-left: 29px;
}
.ml30
{
    margin-left: 30px;
}
.ml36
{
    margin-left: 36px;
}
.ml40
{
    margin-left: 40px;
}
.ml43
{
    margin-left: 43px;
}
.ml45
{
    margin-left: 45px;
}
.ml49
{
    margin-left: 49px;
}
.ml50
{
    margin-left: 50px;
}
.ml60
{
    margin-left: 60px;
}
.ml70
{
    margin-left: 70px;
}
.ml100
{
    margin-left: 100px;
}
.ml120
{
    margin-left: 120px;
}

.tar
{
    text-align: right;
}
.tal
{
    text-align: left;
}
.tac
{
    text-align: center;
}
.taj
{
    text-align: justify;
}

.relative
{
    position: relative;
}
.absolute
{
    position: absolute;
}
.abs_0000
{
    position: absolute;
    top: 0px;
    left: 0px;
}
.abs_x0x0
{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.abs_x00x
{
    position: absolute;
    top: 0px;
    right: 0px;
}

.b1
{
    border: 1px solid red !important;
}
.b1black
{
    border: 1px solid #000 !important;
}
.b1ext
{
    border: 1px solid #D0D0D0 !important;
}

.b1cinza
{
    border: 1px solid #d6d6d6;
}

.br2cinza
{
    border-right: 2px solid #d6d6d6;
}
.br1cinza
{
    border-right: 1px solid #c9c9c9;
}
.br1azul
{
    border-right: 1px solid #3b7aac;
}
.br1azul_claro
{
    border-right: 1px solid #83b3db;
}

.bl1azul
{
    border-left: 1px solid #3b7aac;
}

.btcinza
{
    border-top: 2px solid #edf4fa;
}

.bb6azul
{
    border-bottom: 6px solid #2c425d;
}
.bb11azul
{
    border-bottom: 11px solid #2c425d;
}
.br11azul
{
    border-right: 11px solid #2c425d;
}

.pointer
{
    cursor: pointer;
}

.fs11
{
    font-size: 11px;
}
.fs12
{
    font-size: 12px;
}
.fs14
{
    font-size: 14px;
}
.fs16
{
    font-size: 16px;
}
.fs18
{
    font-size: 18px;
}
.fs20
{
    font-size: 20px;
}
.fs24
{
    font-size: 24px;
}
.fs25
{
    font-size: 25px;
}
.fs28
{
    font-size: 28px;
}
.fs30
{
    font-size: 30px;
}
.fs36
{
    font-size: 36px;
}
.fs38
{
    font-size: 38px;
}
.fs42
{
    font-size: 42px;
}
.fs46
{
    font-size: 46px;
}
.fs48
{
    font-size: 48px;
}
.fs56
{
    font-size: 56px;
}
.fs64
{
    font-size: 64px;
}
.fs72
{
    font-size: 72px;
}
.fs84
{
    font-size: 84px;
}

.b
{
    font-weight: bold;
}

.c000
{
    color: #000;
}
.cf00
{
    color: #f00;
}
.cfff
{
    color: #fff;
}
.cazul
{
    color: #8895a5;
}
.cazulescuro
{
    color: #2d435e;
}

.oh
{
    overflow: hidden;
}

.lh15
{
    line-height: 15px;
}
.lh18
{
    line-height: 18px;
}
.lh24
{
    line-height: 24px;
}
.lh40
{
    line-height: 40px;
}
.lh56
{
    line-height: 56px;
}
.lh65
{
    line-height: 65px;
}
.lh75
{
    line-height: 75px;
}
.lh80
{
    line-height: 80px;
}
.lh150
{
    line-height: 150px;
}

.hei20px
{
    height: 20px;
}
.hei25px
{
    height: 25px;
}
.hei30px
{
    height: 30px;
}
.hei40px
{
    height: 40px;
}
.hei50px
{
    height: 50px;
}
.hei60px
{
    height: 60px;
}
.hei75px
{
    height: 75px;
}
.hei80px
{
    height: 80px !important;
}
.hei90px
{
    height: 90px !important;
}
.hei100px
{
    height: 100px;
}
.hei110px
{
    height: 110px;
}
.hei116px
{
    height: 116px;
}
.hei120px
{
    height: 120px;
}
.hei130px
{
    height: 130px;
}
.hei140px
{
    height: 140px;
}
.hei146px
{
    height: 146px;
}
.hei150px
{
    height: 150px;
}
.hei154px
{
    height: 154px;
}
.hei156px
{
    height: 156px;
}
.hei160px
{
    height: 160px;
}
.hei170px
{
    height: 170px;
}
.hei190px
{
    height: 190px;
}
.hei210px
{
    height: 210px;
}
.hei220px
{
    height: 220px;
}
.hei230px
{
    height: 230px;
}
.hei250px
{
    height: 250px;
}
.hei270px
{
    height: 270px;
}
.hei290px
{
    height: 290px;
}
.hei300px
{
    height: 300px;
}
.hei315px
{
    height: 315px;
}
.hei330px
{
    height: 330px;
}
.hei335px
{
    height: 335px;
}
.hei380px
{
    height: 380px;
}
.hei400px
{
    height: 400px;
}
.hei410px
{
    height: 410px;
}
.hei420px
{
    height: 420px;
}
.hei450px
{
    height: 450px;
}
.hei455px
{
    height: 455px;
}
.hei470px
{
    height: 470px;
}
.hei480px
{
    height: 480px;
}
.hei484px
{
    height: 484px;
}
.hei488px
{
    height: 488px;
}
.hei500px
{
    height: 500px;
}
.hei550px
{
    height: 550px;
}
.hei570px
{
    height: 570px;
}
.hei580px
{
    height: 580px;
}
.hei590px
{
    height: 590px;
}
.hei600px
{
    height: 600px;
}
.hei610px
{
    height: 610px;
}
.hei620px
{
    height: 620px;
}
.hei630px
{
    height: 630px;
}
.hei640px
{
    height: 640px;
}
.hei660px
{
    height: 660px;
}
.hei670px
{
    height: 670px;
}
.hei605px
{
    height: 605px;
}
.hei615px
{
    height: 615px;
}
.hei649px
{
    height: 647px;
}
.hei650px
{
    height: 650px;
}
.hei680px
{
    height: 680px;
}
.hei688px
{
    height: 688px;
}
.hei700px
{
    height: 700px;
}
.hei719px
{
    height: 719px;
}
.hei750px
{
    height: 750px;
}
.hei754px
{
    height: 754px;
}
.hei770px
{
    height: 770px;
}
.hei780px
{
    height: 780px;
}
.hei800px
{
    height: 800px;
}
.hei824px
{
    height: 824px;
}
.hei830px
{
    height: 830px;
}
.hei850px
{
    height: 850px;
}
.hei900px
{
    height: 900px;
}
.hei925px
{
    height: 925px;
}
.hei929px
{
    height: 929px;
}
.hei930px
{
    height: 930px;
}
.hei950px
{
    height: 950px;
}
.hei980px
{
    height: 950px;
}
.hei997px
{
    height: 997px;
}
.hei998px
{
    height: 998px;
}
.hei999px
{
    height: 999px;
}
.hei1300px
{
    height: 1300px;
}

.wd100p
{
    width: 100%;
}
.wd60p
{
    width: 60%;
}
.wd50p
{
    width: 50%;
}
.wd30p
{
    width: 30%;
}
.wd20px
{
    width: 20px;
}
.wd30px
{
    width: 30px;
}
.wd40px
{
    width: 40px;
}
.wd60px
{
    width: 100px;
}
.wd100px
{
    width: 100px;
}
.wd110px
{
    width: 110px;
}
.wd120px
{
    width: 120px;
}
.wd140px
{
    width: 140px;
}
.wd150px
{
    width: 150px;
}
.wd170px
{
    width: 170px;
}
.wd180px
{
    width: 180px;
}
.wd200px
{
    width: 200px;
}
.wd210px
{
    width: 210px;
}
.wd250px
{
    width: 250px;
}
.wd280px
{
    width: 280px;
}
.wd300px
{
    width: 300px;
}
.wd380px
{
    width: 380px;
}
.wd430px
{
    width: 430px;
}
.wd480px
{
    width: 480px;
}
.wd490px
{
    width: 490px;
}
.wd600px
{
    width: 600px;
}
.wd640px
{
    width: 640px;
}
.wd648px
{
    width: 648px;
}
.wd680px
{
    width: 680px;
}
.wd700px
{
    width: 700px;
}
.wd720px
{
    width: 720px;
}
.wd750px
{
    width: 750px;
}
.wd800px
{
    width: 800px;
}
.wd850px
{
    width: 850px;
}
.wd853px
{
    width: 853px;
}
.wd861px
{
    width: 861px;
}
.wd900px
{
    width: 900px;
}
.wd935px
{
    width: 935px;
}
.wd950px
{
    width: 950px;
}
.wd956px
{
    width: 956px;
}
.wd969px
{
    width: 969px;
}
.wd980px
{
    width: 980px;
}
.wd1050px
{
    width: 1050px;
}
.wd1150px
{
    width: 1150px;
}
.wd1350px
{
    width: 1350px;
}
.wd1550px
{
    width: 1550px;
}
.wd1840px
{
    width: 1840px;
}

.bgmodal
{
    background-color: #090c10;
}
.bgcinza
{
    background-color: #e6e6e6;
}
.bgcinzaeee
{
    background-color: #eeeeee;
}
.bgfff
{
    background-color: #FFF;
}
.bgazulescuro
{
    background-color: #2d435e !important;
}

.bg_azul_2
{
    background-color: #5397ce;
}
/*tom claro*/
.bg_azul_1
{
    background-color: #3b85c1;
}
/*tom médio*/
.bg_azul_3
{
    background-color: #0d5a98;
}
/*tom escuro*/

.bt0
{
    bottom: 0px;
}

.dib
{
    display: inline-block;
}

.ttu
{
    text-transform: uppercase;
}
.italic
{
    font-style: italic;
}

img
{
    border: none;
    vertical-align: middle;
}
hr
{
    border: none;
    height: 1px;
    color: #dcdcdc;
    background-color: #dcdcdc;
}
a
{
    color: #0061af;
    text-decoration: none;
}
.transp_fff_5
{
    background: url(../img/fundos/transp_branco_5.png) repeat;
}
h1
{
    font-weight: normal;
    color: #fff;
    font-size: 30px;
}
h2
{
    font-weight: normal;
    color: #000;
    font-size: 36px;
}

.shadow20clara
{
    -moz-box-shadow: 0px 0px 10px #FFF;
    -webkit-box-shadow: 0px 0px 10px #FFF;
    box-shadow: 0px 0px 10px #FFF;
}

.shadow20escura
{
    -moz-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
}

.radius5
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.radius10
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.op50
{
    opacity: .5;
}

.w96
{
    width: 99%;
    margin: 0px auto;
    padding: 30px 0px;
    font-size: 11px;
    line-height: 8px;
}
.w96 h2
{
    font-weight: normal;
    color: #000;
    font-size: 18px;
    line-height: 18px;
}
.w35
{
    width: 35%;
}
.w40
{
    width: 40%;
}

.w50
{
    width: 50%;
}
.w60
{
    width: 60%;
}
.area_estrelas
{
    width: 100px;
}
.bb1_000
{
    border-bottom: 1px solid #000;
}