<h2>
    Usuarios</h2>
<div class="wrapper col2">
    <table class="wd100p" border="1">
        <tr>
            <td class="wd50p">
                <table class="hei210px">
                    <tr>
                        <td>
                            Nome:
                        </td>
                        <td>
                            <input type="text" name="txtNome" id="txtNome" value="Nome Completo" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email:
                        </td>
                        <td>
                            <input type="text" name="txtEmail" id="txtEmail" value="Email" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Senha:
                        </td>
                        <td>
                            <input type="password" name="txtSenha" id="txtSenha" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Confirmar Senha:
                        </td>
                        <td>
                            <input type="password" name="txtConfSenha" id="txtConfSenha" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" onclick="" id="btn-cadastro" name="btn-cadastro" value="Cadastrar" />
                        </td>
                    </tr>
                </table>
            </td>
            <td class="wd50p">
                <table class="hei210px">
                    <tr>
                        <td>
                            Email:
                        </td>
                        <td>
                            <input type="text" name="txtLoginEmail" id="txtLoginEmail" value="Email" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Senha:
                        </td>
                        <td>
                            <input type="password" name="txtLoginSenha" id="txtLoginSenha" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" onclick="Login();" id="btn-login" name="btn=login" value="Logar" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>