@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>LogOff</title>
</head>
<body>
    <div>
        <script>            setTimeout("window.location = '/Home'", 2000);</script>
        <div class="paginaListagem">
            <div class="paginaListagemTitulo">
                <h1>
                    Encerrando a Sessão...</h1>
            </div>
            <div class="paginaLogoff_Loader">
                <img src="Content/Images/Loader.gif" />
            </div>
        </div>
    </div>
</body>
</html>