<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="naelsonEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VATICANO\PRODUCAO;initial catalog=naelson;user id=gsgroup;password=050792000;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>